@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }
  

/* body {
    background: #06021b;
} */

.navigation {
    position: fixed;
    top: 33pc;
    /* Adjust this value as needed */
    left: 30pc;
    /* Adjust this value as needed */
    width: 351px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border-radius: 10px;
    z-index: 1000;
    /* Adjust z-index as needed */
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border: 6px solid #06021b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    /* box-shadow: 1px -10px 0 #06021b; */
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    /* box-shadow: -1px -10px 0 #06021b; */
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

.navigate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1000;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #2196f3, #e91e63);
}

.navigate .menu_bar {
    cursor: pointer;
    font-size: 25px;
}

.option {
    position: absolute;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}

.option ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option ul li a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.option ul li .icon {
    font-size: 30px;
}

nav {
    display: none;
}

.title {
    color: white;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.home div {
    width: 50%;
    height: auto;
    color: white;
}


.home-content h3 {
    font-size: 2rem;
}

.home-content h1 {
    font-size: 3rem;
}

span {
    position: relative;
    color: #06021b;
    -webkit-text-stroke: 0.3px #2196f3;
    text-transform: uppercase;
}

span::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    color: #0370c9;
    -webkit-text-stroke: 0px #2196f3;
    border-right: 2px solid #0370c9;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0%;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-content p {
    font-size: 1.5rem;
}

.home-content {
    padding: 30px;
}

.home img {
    width: 100%;
    animation: moving 4s ease-in-out infinite;
}

@keyframes moving {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.4rem);
    }

    100% {
        transform: translateY(0);
    }
}


.hobbies {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #444;
    justify-content: center;
    align-items: center;
    font-family: arial;
}


/* Hobbies */
.hobbies .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hobbies .container .card {
    position: relative;
}

.hobbies .container .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;

}

.hobbies .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.hobbies .container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.hobbies .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.hobbies .container .card:hover .face.face1 .content {
    opacity: 1;
}

.hobbies .container .card .face.face1 .content ion-icon {
    font-size: 3em;
    color: white;
    display: inline-block;

}

.hobbies .container .card .face.face1 .content h3 {
    font-size: 1em;
    color: white;
    text-align: center;


}

.hobbies .container .card .face.face1 .content a {
    transition: .5s;
}

.hobbies .container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.hobbies .container .card:hover .face.face2 {
    transform: translateY(0);
}

.hobbies .container .card .face.face2 .content p {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}


/* Projects */
.container {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }

.title:nth-of-type(odd),section:nth-of-type(odd){
    background-color: #444;
    color: white;
}

.title:nth-of-type(even),section:nth-of-type(even){
    color: black;
}
/* Media queary */
@media screen and (max-width: 1071px) {
    .navigation {
        top: 29pc;
        left: 22pc;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-content {
        padding: 0px;
    }
}

@media screen and (max-width: 750px) {
    .navigation {
        left: 12pc;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-content {
        padding: 0px;
    }
}

@media screen and (max-width: 480px) {
    .navigation {
        display: none;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-content {
        padding: 0px;
    }
}